#photo1{
    margin: auto;
    
    width:200px;
    height: 200px;
    border-radius: 20px;
}
#photo2{
    margin: auto;
width: 200px;
height: 200px;
border-radius: 20px;
}
#photo3{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 20 px;
 }