*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

@font-face {
    font-family: NiceDream;
    src: url(./NiceDream.ttf);
}

body {
    background-image: url(./image/pattern.jpg); 
    background-size: cover; 
    font-family: NiceDream;
}

h1 {
    
    background:rgb(252, 204, 204, .8);
    color:rgb(181, 0, 253);
    font-size: 150px;    
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
   
}#menu {
    margin: 30px auto;
}
.menu ul{
    list-style: none;
}
.menu > li{    
    padding: 10px;
    display: inline-block;
}

.menu >li>a{
    display: block;
    color:rgb(2, 161, 100);
    font-size: 100px;
    padding: 15px;
    text-decoration: none;
}

#reposteria{
    background-image: url(./image/reposteria.jpg);
    background-size: cover;
    border-radius: 10px;
}

#panaderia{
    background-image: url(./image/panaderia.jpg);
    background-size: cover;
    border-radius: 10px;
}

#pasteleria{
    background-image: url(./image/pasteleria.jpg);
    background-size: cover;
    border-radius: 10px;
}


/* aqui se oculta el formulario tarjeta */
.formulario-tarjeta {
    background-color: rgb(148, 255, 214);
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 15px;
    position: absolute; left:900px ; 
    justify-content: center;
    align-items: center;
   

    
}

.formulario-tarjeta label {
    display: block;
    color: blueviolet;
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btnEnviar {
    border:2px solid rgb(85, 250, 187);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 12px;
    width: 100%;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
    border:2px solid rgb(2, 212, 132);
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
    outline: rgb(148, 255, 214);
    box-shadow: 1px 7px 10px -5px rgb(187, 2, 212);
}

.formulario-tarjeta input{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario-tarjeta .flexbox{
    display: flex;    
    justify-content: space-between 
    ;

}

.formulario-tarjeta .fecha{
    width: 100%;
}

.formulario-tarjeta .cvv{
    min-width: 100px;
}
.formulario-tarjeta .seleccion{
    width: 100%;
    margin-right: 15px;
    position: relative;    
}

.formulario-tarjeta select{
    -webkit-appearance: none;

}

.formulario-tarjeta .seleccion i{
    position: absolute;
    color: rgb(148, 255, 214);
    top: 10px;
    right: 15px;
    transition: 3s ease all;
}
.formulario-tarjeta .seleccion:hover i{
    color: rgb(2, 212, 132);
}

.formulario-tarjeta .btnEnviar{
    border:none;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: rgb(2, 161, 100);
    box-shadow: 2px 2px 10px 0px rgb(2, 212, 132);
    cursor: pointer;
}

.formulario-tarjeta .btnEnviar:hover{
    background: rgb(85, 250, 187);
    color:rgb(2, 161, 100);

}

.formulario-cliente {
    background-color: rgb(213, 101, 223);
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 15px;
}

.formulario-cliente label {
    display: block;
    color: rgb(10, 78, 141);
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-cliente input,
.btnEnviar2 {
    border:2px solid rgb(85, 250, 187);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 12px;
    width: 100%;
}  
 
.formulario-cliente .btnEnviar2{
        border:none;
        padding: 10px;
        font-size: 20px;
        color:rgb(255, 255, 255);
        background-color: rgb(2, 161, 100);
        box-shadow: 2px 2px 10px 0px rgb(15, 34, 119);
        cursor: pointer;
        margin-top: 15px;
}

.formulario-cliente .btnEnviar2:hover{
    background: rgb(85, 250, 187);
    color:rgb(2, 161, 100);
    color:rgb(2, 161, 100);
}